<div class="gaTopst">
    <a href="javaScript:" class="gaTopAgBtn" ng-click="vm.comCcPublic()">完成认证</a>
</div>

<div class="gaTitle">
    助学金评定 <span class="gatip2"> (正在进行学校公示)</span>
</div>
<div class="gaBody">
    <div class="gaPbDo" style="overflow: hidden">
        <div style="float: left">
            <p class="gaPbHead">公示范围：学院公示、专业公示、年级公示、班级公示</p>
            <p class="gaPbHead">公示时间：2017年3月2日 - 2017年3月3日</p>
            <p class="gaPbHead">公示内容：结果和学生材料公示</p>
        </div>
        <a style="float: right" href="javaScript:" ng-click="vm.showExSearch()">下载公示名单</a>
    </div>
    <p>学生意见反馈</p>
    <div class="gaPbRes">
        <dl ng-repeat="des in vm.objList">
            <dt class="gaPbResDo">
                <button type="button" ng-class="des.dealTime?' disabled':' btn-primary'" class="btn" ng-click="vm.upCcPublic(des)">
                    {{des.dealTime?'已处理':'处理'}}</button>
            </dt>
            <dd ><span>{{des.sourceName}}</span>
                <span>{{des.sourceSn}}</span>
                <span>{{des.createTime | date : yyyy-mm-dd}}</span>
            </dd>
            <dd>{{des.content}}</dd>
        </dl>
    </div>
    <p class="vm.haveList?'':''"></p>
</div>
<div class="modalBg"  ng-if="vm.showDetail">
    <div class="modalBox">
        <div class="overhide p5">
            <p class="h30 lh35 fs20 fl">处理疑义</p>
            <p class="h30 lh35 fs16 fr cursor-pointer" ng-click="vm.doPublicNo()">×</p>
        </div>

        <div class="modalMain">
            <textarea cols="50" rows="5" style="border-color: #ccc" ng-model="vm.objReason"></textarea>
        </div>
        <div class="modalFoot">
            <a href="javaScript:;" class="modalOk"  ng-click="vm.doPublicOk()">确定</a>
            <a href="javaScript:;" class="modalNo"  ng-click="vm.doPublicNo()">关闭</a>
        </div>
    </div>
</div>

