<div class="gaTopst">
    <a href="javaScript:" class="gaTopAgBtn" ng-click="vm.activityTasks()">提交至学院公示</a>
    <a href="javaScript:" class="gaTopAgBtn" ng-click="vm.activityTasks()">直接提交至校审核</a>
    <a href="javaScript:" class="gaTopReBtn" style="background: #f5785f" ng-click="vm.showRejectTasks()">驳回至辅导员</a>
</div>


<div class="gaTitle">
    助学金评定 <span class="gatip2"> (正在进行，，，，，)</span>
</div>
<div class="gaBody">
    <div class="gaDo">
        <a class="gaSearch" href="javaScript:" ng-click="vm.doShowFilter()">搜索</a>
    </div>
    <div>
        <table ng-table="vm.tableParams" class="table" show-filter="vm.showFilter">
            <tr ng-repeat="user in $data">
                <td title="">
                    <input type="checkbox" ng-model="user.checked" ng-change="vm.checkOne()"></td>
                <td title="'姓名'" filter="{ name: 'text'}">
                    {{user.studentName}}</td>
                <td title="'学号'" filter="{ sn: 'number'}">
                    {{user.sn}}</td>
                <td title="'学院'" filter="{ college: 'text'}">
                    {{user.college}}</td>
                <td title="'困难认定等级'" filter="{ povertyLevel: 'text'}">
                    {{user.povertyLevel}}</td>
                <td title="'上学年申请等级'" filter="{ lastYearGrantsLevel: 'text'}">
                    <span ng-repeat="last in user.lastYearGrantsLevel">{{last>1?last:"未申请"}};</span></td>
                <td title="'本学年申请次数'" filter="{ currentGrantsNum: 'text'}">
                    {{user.currentGrantsNum[0]?'u':'0'}}</td>
                <td title="'申请助学金名称'" filter="{ applyGrantsName: 'text'}">
                    {{user.applyGrantsName}}</td>
                <td title="'辅导员审核'" filter="{ grants: 'text'}">
                    <select ng-show="vm.showSelect" ng-model="vm.levelName" ng-change="vm.saveLevelName(user)"
                            ng-options="a.grantsName for a in user.grants"> </select>
                    <span ng-show="!vm.showSelect">{{vm.levelName.grantsName}}</span>
                </td>
                <td title="'学院审核'" filter="{ collegeResult: 'text'}">
                    {{user.collegeResult?user.collegeResult:"未进行"}}</td>
                <td title="'学院公示'" filter="{ collegePublicityResult: 'text'}">
                    {{user.collegePublicityResult?user.collegePublicityResult:"未进行"}}</td>
                <td title="'学校审核'" filter="{ schoolResult: 'text'}">
                    {{user.schoolResult?user.schoolResult:"未进行"}}
                </td>
                <td title="'学校公示'" filter="{ schoolPublicityResult: 'text'}">
                    {{user.schoolPublicityResult?user.schoolPublicityResult:"未进行"}}</td>
                <td title="'认定结果'" filter="{ finalResult: 'text'}">
                    {{user.finalResult?user.finalResult:"未认定"}}</td>
                <td title="'当前状态'" filter="{ finalResult: 'text'}">
                    {{user.materialStatus=='1'?'状态正常':"材料被驳回"}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="modal fade" id="rejectTasks" tabindex="-1" role="dialog" aria-labelledby="myModalSubsidy">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalSubsidy">驳回学生上传材料</h4>
            </div>
            <div class="modal-body">
                <p class="text-danger">您确定驳回？</p>
                <p>
                    <span ng-repeat="st in vm.rejctStList">{{st}}</span>
                </p>
                <div>
                    <p>请填写驳回理由：</p>
                    <textarea ng-class="vm.error" ng-model="vm.rejectReason"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="vm.rejectTasks()" class="btn btn-primary">确定</button>
                <button type="button" ng-click="vm.cancel()" class="btn">取消</button>
            </div>
        </div>
    </div>
</div>



