<div class="clearfix st-select">
    <select name="" class="fl mr10" ng-model="vm.college" ng-change="change()" ng-options="option.name for option in vm.colleges">
        <option value="">学院</option>
    </select>
    <select name="" class="fl mr10" ng-change="changeGrade()" ng-model="vm.major" ng-options="option.name for option in vm.majors">
        <option value="">专业</option>
    </select>
    <select name="" class="fl mr10" ng-change="changeClass()" ng-model="vm.grade" ng-options="option.name for option in vm.grades">
        <option value="">年级</option>
    </select>
    <select name="" class="fl mr10" ng-model="vm.class" ng-options="option.name for option in vm.classes">
        <option value="">班级</option>
    </select>
    <button class="btn-primary fr ml10" ng-click="changeYear()" style="height: 25px; line-height: 20px;">筛选</button>
    <div class="fr">
        <select name="" id="1" class="mr10" ng-model="startYear" ng-options="option.name for option in startYears">
        </select>-
        <select name="" id="2" class="ml10" ng-model="endYear" ng-options="option.name for option in endYears">
        </select>
    </div>
</div>
<p>总人数： {{povertyNumber}}人</p>
<section class="col-2-1 mr20">
    <div class="col-header">
        <h3>经济困难等级</h3>
    </div>
    <div class="col-content">
        <div id="rank" class="echarts"></div>
    </div>
</section>
<section class="col-2-1">
    <div class="col-header">
        <h3>五类生</h3>
    </div>
    <div class="col-content">
        <div id="student" class="echarts"></div>
    </div>
</section>
<section class="col-3-1 mr20">
    <div class="col-header">
        <h3>生源地</h3>
    </div>
    <div class="col-content">
        <div id="origin" class="echarts"></div>
    </div>
</section>
<section class="col-3-1 mr20">
    <div class="col-header">
        <h3>外省最多的三个省份</h3>
    </div>
    <div class="col-content">
        <div id="province" class="echarts"></div>
    </div>
</section>
<section class="col-3-1">
    <div class="col-header">
        <h3>省内最多的三个城市</h3>
    </div>
    <div class="col-content">
        <div id="city" class="echarts"></div>
    </div>
</section>