<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdbigdata.subsidize_zjut.mapper.AwardsMapper">

    <insert id="saveStudentAwards" parameterType="com.xdbigdata.subsidize_zjut.domain.Awards">
        INSERT INTO t_scholarship_awards (
        `name`,
        `getTime`,
        `RewardsBureau`,
        `student_id`
        )
        VALUES
        (
        #{name},
        #{getTime},
        #{RewardsBureau},
        #{studentId}
        )
    </insert>

    <delete id="deleteStudentAwards" parameterType="Long">
        DELETE * FROM t_scholarship_awards WHERE id = #{id}
    </delete>

</mapper>