<div ng-show="vm.started === 1" class="pb20"
     ng-class="{apply: vm.activeTabs === 'updateMaterial'|| vm.activeTabs === 'confirmSubmit'}">
    <ul class="stu-base-info clearfix" ng-if="povertyStudentStatus!==0">
        <li ng-class="{active: vm.activeTabs === 'updateMaterial'|| vm.activeTabs === 'confirmSubmit'||vm.activeTabs === 'submitSuccess'}">
            <a href="javascript:;" data-name="updateMaterial">step1：上传材料</a></li>
        <li ng-class="{active: vm.activeTabs === 'confirmSubmit'||vm.activeTabs === 'submitSuccess'}"><a
                href="javascript:;"
                data-name="confirmSubmit">step2：提交确认</a>
        </li>
        <li class="last-child" ng-class="{active2: vm.activeTabs === 'submitSuccess'}">
            <a href="javascript:;"
               data-name="submitSuccess">step3：提交成功</a>
        </li>
    </ul>
    <p class="pl20 lh40 h40" ng-if="vm.activeTabs === 'updateMaterial' || vm.activeTabs === 'confirmSubmit'">
        <span>申请截止时间：{{lastTime | date : 'yyyy-MM-dd'}}</span>
    </p>
    <div ng-if="vm.activeTabs === 'updateMaterial'">
        <div class="upload-wrap">
            <div class="row" ng-show="upload_classes == null">
                <div class="text-center mb20 relative">
                    <input type="button" value="上传贫困证明材料" class="file-upload-btn">
                    <input type="file" id="file" class="upload-file" nv-file-select multiple uploader="uploader"/>
                    <p class="mt30 text-muted">请上传大小不超过20MB的附件</p>
                </div>
                <div ng-repeat="item in uploader.queue" class="student-progress-bar">
                    <div>{{ item.file.name }}</div>
                    <div class="progress">
                        <span class="progress-bar" role="progressbar"
                              ng-style="{ 'width': item.progress + '%' }"></span>
                    </div>
                    <span class="progress-percent">{{item.progress}}%</span>
                </div>
            </div>
            <table ng-if="vm.uploadsList.length>0" class="table table-hover table-bordered table-striped stu-base-form">
                <thead>
                <tr>
                    <th>附件名</th>
                    <th>上传时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="upload in vm.uploadsList">
                    <td><a href="{{upload.url}}" target="_blank">{{upload.name}}</a></td>
                    <td>{{upload.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td><a href="javascript:;" title="删除" ng-click="removeAttachment(upload.id)" class="text-danger">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p class="text-danger text-center mt20">家庭经济困难证明需加盖当地民政部门或者社会事务的公章</p>
    </div>
    <div ng-if="vm.activeTabs === 'confirmSubmit'">
        <h3 class="confirm-info-title">提交材料确认 <a href="javascript:;" ng-click="reUpload()">返回编辑材料</a></h3>
        <div class="confirm-info">
            <p>请确认以下材料：</p>
            <ul class="mt25">
                <li ng-repeat="upload in vm.uploadsList">
                    <a href="{{upload.url}}">{{upload.name}}</a>
                </li>
            </ul>
        </div>
        <h3 class="confirm-info-title">基本信息确认 <a ui-sref="main.studentInfo">重新编辑基本信息</a></h3>
        <div class="confirm-info">
            <student-poverty-info flag="info" student-id="studentId"></student-poverty-info>
        </div>
    </div>
    <div ng-if="vm.activeTabs === 'submitSuccess'" class="submit-success">
        <div ng-if="povertyStudentStatus===0" class="text-center">
            <div class="fs16">{{processName}}<span ng-if="lastTime">,截止时间：</span>{{lastTime | date:'yyyy-MM-dd'}}，您在本次助学金申请时间内并未提交相应材料，
            </div>
            <div class="fs16">您可以查看 <a ui-sref="main.povertyNotice">学生名单公示</a> 或在消息提醒中 <a ui-sref="main.noticeList">查看更多通知公告</a>。
            </div>
        </div>
        <div ng-if="povertyStudentStatus===1||povertyStudentStatus===2" class="text-center">
            <div class="fs16 h50">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-wancheng"></use>
                </svg>
                提交成功
            </div>
            <div class="fs16">您已提交相关材料，正在等待辅导员确认您的申请信息</div>
            <div class="text-muted">在辅导员审核状态下，您的个人信息和上传的材料将不允许修改，若您需要修改信息则自行联系辅导员</div>
        </div>
        <div ng-if="povertyStudentStatus===-1" class="text-center">
            <div class="fs16 h50">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-wancheng"></use>
                </svg>
                提交成功
            </div>
        </div>
        <div ng-if="povertyStudentStatus===-2" class="text-center">
            <div class="fs16 h50">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-wancheng"></use>
                </svg>
                您被取消了申请，如有疑问，请联系辅导员。
            </div>
        </div>
        <div class="text-center"
             ng-if="povertyStudentStatus===3">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wancheng"></use>
            </svg>
            <span>您已提交相关材料，正在进行班级用户审核</span>
        </div>
        <div class="text-center"
             ng-if="povertyStudentStatus===4">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wancheng"></use>
            </svg>
            <span>您已提交相关材料，正在进行辅导员审核</span>
        </div>
        <div class="text-center"
             ng-if="povertyStudentStatus===5">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wancheng"></use>
            </svg>
            <span>您已提交相关材料，正在进行学院审核</span>
        </div>
        <div class="text-center"
             ng-if="povertyStudentStatus===6">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wancheng"></use>
            </svg>
            <span>您已提交相关材料，正在进行学院公示</span>
        </div>
        <div class="text-center"
             ng-if="povertyStudentStatus===7">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wancheng"></use>
            </svg>
            <span>您已提交相关材料，正在进行学校审核</span>
        </div>
        <div class="text-center" ng-if="vm.result!=''&&vm.result!=null">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wancheng"></use>
            </svg>
            <span>您已完成此次认定，认定结果为</span>
            <p>{{vm.result}}</p>
        </div>
        <div class="text-center mt20" ng-if="povertyStudentStatus > 0 ">
            <input type="button" value="查看已提交材料" class="btn btn-primary" ng-click="viewInfo()">
        </div>
        <div class="text-center mt20" ng-if="povertyStudentStatus === -1 ">
            <input type="button" value="重新提交" class="btn btn-warning" ng-click="reApply()">
            <div class="text-danger">您提交的材料未通过审核，请重新提交！</div>
        </div>
    </div>
    <div class="footer-bar" ng-if="vm.activeTabs === 'updateMaterial' || vm.activeTabs === 'confirmSubmit'">
        <ul class="clearfix">
            <li ng-class="{active: vm.activeTabs === 'updateMaterial'|| vm.activeTabs === 'confirmSubmit'||vm.activeTabs === 'submitSuccess'}"></li>
            <li ng-class="{active: vm.activeTabs === 'confirmSubmit'||vm.activeTabs === 'submitSuccess'}"></li>
            <li class="last-child" ng-class="{active2: vm.activeTabs === 'submitSuccess'}"></li>
        </ul>
        <div class="text-center mt20">
            <button ng-if="vm.activeTabs === 'updateMaterial' && vm.uploadsList"
                    ng-click="goNext()" class="btn btn-warning h40">提交材料
                <svg class="icon go-next" aria-hidden="true">
                    <use xlink:href="#icon-1-copy-copy"></use>
                </svg>
            </button>
            <button ng-if="vm.activeTabs === 'confirmSubmit'" ng-click="confirmSubmit()"
                    class="btn btn-warning h40">提交至辅导员审核
                <svg class="icon go-next" aria-hidden="true">
                    <use xlink:href="#icon-1-copy-copy"></use>
                </svg>
            </button>
        </div>
    </div>
</div>
<div ng-show="vm.started===2" class="pt20">
    <h2 class="text-center text-muted">流程未开始</h2>
</div>
<div ng-show="vm.started===3" class="p20">
    <h3 class="text-center mt40">承诺书</h3>
    <p class=" w510 center pt20">
        本人郑重承诺：
        在系统里所提供的基本信息、证明材料，真实准确，若因上述信息、材料不真实造成的一切后果由本人承担。虚假信息、材料一经发现，将会被取消评定资格。
        您所填写的所有信息我们将严格保密，只用作于学校困难情况认定。
    </p>
    <div class="text-center mt40">
        <input type="button" class="btn btn-primary w110" value="同意" ng-click="setAgreeToLocalStorage()">
    </div>
</div>

<!-- 是否上传对话框 -->
<div class="modal fade" id="ensureNext" tabindex="-1" role="dialog" aria-labelledby="myModalensureNext">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalensureNext">确认提交到下一步？</h4>
            </div>
            <div class="modal-body">
                <p class="text-danger">警告：您没有上传任何材料，是否继续提交到下一步？</p>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="insureUpload()" class="btn btn-primary">是</button>
                <button type="button" ng-click="cancelUpload()" class="btn btn-default">否</button>
            </div>
        </div>
    </div>
</div>
<!-- 是否提交到辅导员审核 -->
<div class="modal fade" id="ensureSubmit" tabindex="-1" role="dialog" aria-labelledby="myModalensureSubmit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalensureSubmit">是否确认提交到辅导员审核？</h4>
            </div>
            <div class="modal-body">
                <p class="text-danger">警告：所有材料一经提交将不允许自行修改，若要修改请联系辅导员。<br>是否确认信息正确，并提交至辅导员审核？</p>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="insureSubmit()" class="btn btn-primary" ng-disabled="vm.idCommiting">是</button>
                <button type="button" ng-click="cancelSubmit()" class="btn btn-default" ng-disabled="vm.idCommiting">否</button>
            </div>
        </div>
    </div>
</div>