<!DOCTYPE html>
<html ng-app="app" lang="zh_CN" class="h100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="智能助困,寻道科技">
    <meta name="description" content="智能助困,description">
    <title>精准资助V1.4</title>
    <link rel="shortcut icon" href="dist/images/jzzz.ico" type="image/x-icon">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="lib/ng-table/dist/ng-table.css">
    <link rel="stylesheet" href="dist/css/index-f337b8dd5b.css">
    <script>
        (function () {
            var userAgent = navigator.userAgent;
            if (userAgent.indexOf("MSIE 6.0") > 0 || userAgent.indexOf("MSIE 7.0") > 0 || userAgent.indexOf("MSIE 8.0") > 0) {
                window.location.href = 'error/ie.html';
            }
        })()
    </script>
</head>
<body class="h100">

<div ui-view class="h100"></div>
<span class="whatever" ng-if="whatever"></span>
<section ng-if="alert" ng-class="{true: 'alert-success', false: 'alert-error'}[isActive]"
         ng-bind="alertValue"></section>

<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="plugins/angular-locale_zh-cn.js"></script>
<script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="lib/angular-file-upload/dist/angular-file-upload.min.js"></script>
<script src="lib/angular-loading-bar/build/loading-bar.min.js"></script>
<script src="lib/angular-animate/angular-animate.min.js"></script>
<script src="lib/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="lib/echarts/dist/echarts.min.js"></script>
<script src="plugins/china.js"></script>
<script src="lib/ng-table/dist/ng-table.js"></script>
<script src="lib/angular-websocket/dist/angular-websocket.min.js"></script>
<script src="plugins/angular-cookies.min.js"></script>
<script src="plugins/iconfont.js"></script>
<script src="dist/js/all-2b74de8f4b.js"></script>

</body>
</html>