<div class="left-top-bar">
    <input ng-if="vm.statusCode>5&&(vm.studentMaxStatus==10||vm.studentMaxStatus==11||vm.studentMaxStatus==104||vm.studentMaxStatus==107||vm.studentMaxStatus==108||vm.studentMaxStatus==109||vm.studentMaxStatus==110)"
           type="button" class="btn btn-primary mr10" value="提交至学校公示"
           ng-click="commitToSchoolNotice()">
    <span ng-if="vm.statusCode>7&&vm.showFeedBack=='true'">
        <input type="button" class="btn btn-primary mr10" value="审核驳回名单" ng-click="getRejectLists()">
    </span>
    <span ng-if="vm.statusCode>6&&(vm.studentMaxStatus==12||vm.studentMaxStatus==105||vm.studentMaxStatus==106||vm.studentMaxStatus>=111)">
        <span ng-if="vm.showFeedBack=='false'">
            <input type="button" ng-if="vm.studentMaxStatus!=113" class="btn btn-primary mr10" value="提交至学校公示"
                   ng-click="commitToSchoolNotice()">
            <input type="button" class="btn btn-primary mr10" value="处理公示" ng-click="getFeedBackShow()">
        </span>
        <input type="button" class="btn btn-warning" value="驳回至学院审核" ng-click="rejectToCollege()">
    </span>
    <input ng-if="vm.statusCode>5&&(vm.studentMaxStatus==10||vm.studentMaxStatus==11||vm.studentMaxStatus==104||vm.studentMaxStatus==107||vm.studentMaxStatus==108||vm.studentMaxStatus==109||vm.studentMaxStatus==110)"
           type="button" class="btn btn-warning mr10 " value="驳回至学院审核"
           ng-click="rejectToCollege()">
    <input type="button" value="完成认定" ng-if="vm.statusCode>0&&vm.studentMaxStatus==12" class="btn btn-success"
           ng-click="doSuccess()">
</div>
<div class="h50 lh50 pl20  border-bottom text-status" ng-if="vm.statusCode>0">
    <span ng-if="vm.statusCode==1">状态：正在进行学生申请</span>
    <span ng-if="vm.statusCode==2">状态：正在进行民主评议</span>
    <span ng-if="vm.statusCode==3">状态：正在进行辅导员审核</span>
    <span ng-if="vm.statusCode==4">状态：正在进行学院审核</span>
    <span ng-if="vm.statusCode==5">状态：正在进行学院公示</span>
    <span ng-if="vm.statusCode==6">状态：正在进行学校审核</span>
    <span ng-if="vm.statusCode==7">状态：正在进行学校公示</span>
</div>
<div class="h50 lh50 pl20 clearfix">
    <span class="pull-left">
        <span ng-if="vm.statusCode>=1">截止时间：{{vm.lastTime | date : 'yyyy-MM-dd'}}</span>
        <span ng-if="vm.statusCode==1" class="ml10">当前已提交{{vm.totalNum}}人</span>
            <a href="javascript:;" class="ml10"
               ng-if="vm.statusCode==1||vm.statusCode==2||vm.statusCode==3||vm.statusCode==5||vm.statusCode==7||vm.statusCode==0"
               ng-click="downloadList()">下载名单</a>
    </span>
    <search-btn show="vm.showFilter"></search-btn>
    <select ng-if="vm.statusCode==7&&vm.showFeedBack=='true'"
            class="pull-right mr10 mt10 h30 lh30 pt0 pb0 form-control w110"
            name="mySelect" id="status"
            ng-change="init()"
            ng-options="option.name for option in vm.statusData.availableOptions track by option.id"
            ng-model="vm.statusData.selectedOption"></select>
    <input ng-if="vm.statusCode>0" type="button" value="补填申请"
           class="btn btn-warning pull-right mr10 mt10" ng-click="reApply()">
    <a class="pull-right mr10" href="javascript:;" ng-click="goViewOperationRecord()">查看操作记录</a>
</div>
<div ng-if="vm.statusCode==0||vm.statusCode!=7&&vm.studentMaxStatus!=12&&vm.studentMaxStatus!=105&&vm.studentMaxStatus!=106&&vm.studentMaxStatus<111||(vm.statusCode==7&&(vm.studentMaxStatus==10||vm.studentMaxStatus==11||vm.studentMaxStatus==107||vm.studentMaxStatus==108||vm.studentMaxStatus==109||vm.studentMaxStatus==110))||(vm.statusCode==6&&vm.studentMaxStatus==12)">
    <div ng-switch="vm.tableFlag" class="p20 pt0">
        <div class="text-center" ng-switch-when="0">加载中……</div>
        <div ng-switch-when="1">
            <table ng-table="tableParams" class="table table-bordered table-striped table-hover "
                   show-filter="vm.showFilter">
                <tr ng-repeat="poorInfo in $data">
                    <td title="'姓名'" filter="{ name: 'text'}" sortable="'name'">
                        {{poorInfo.name}}
                    </td>
                    <td title="'学号'" filter="{ studentId: 'number'}" sortable="'studentId'">
                        {{poorInfo.studentId}}
                    </td>
                    <td title="'年级'" filter="{ gradeName: 'text'}" sortable="'gradeName'">
                        {{poorInfo.gradeName}}
                    </td>
                    <td title="'学院'" filter="{ collegeName: 'text'}" sortable="'collegeName'">
                        {{poorInfo.collegeName}}
                    </td>
                    <td title="'专业'" filter="{ majorName: 'text'}" sortable="'majorName'">
                        {{poorInfo.majorName}}
                    </td>
                    <td title="'班级'" filter="{ className: 'text'}" sortable="'className'">
                        {{poorInfo.className}}
                    </td>
                    <td title="'申请材料'" class="col-md-1">
                        <one-person-info id="{{poorInfo.studentId}}"></one-person-info>
                    </td>
                    <td title="'建议等级'" filter="{ suggestLevel: 'text'}" sortable="'suggestLevel'">
                        {{poorInfo.suggestLevel}}
                    </td>
                    <td title="'民主评议'" filter="{ democracyAudit: 'text'}" sortable="'democracyAudit'"
                        ng-class="{'未进行': 'bg-c9ebf7', '正在进行': 'bg-a7c07f', '已驳回': 'bg-f5795f'}[poorInfo.democracyAudit]">
                        {{poorInfo.democracyAudit}}
                    </td>
                    <td title="'辅导员审核'" filter="{ advisorAudit: 'text'}" sortable="'advisorAudit'"
                        ng-class="{'未进行': 'bg-c9ebf7', '正在进行': 'bg-a7c07f', '已驳回': 'bg-f5795f'}[poorInfo.advisorAudit]">
                        {{poorInfo.advisorAudit}}
                    </td>
                    <td title="'学院审核'" filter="{ collegeAudit: 'text'}" sortable="'collegeAudit'"
                        ng-class="{'未进行': 'bg-c9ebf7', '正在进行': 'bg-a7c07f', '已驳回': 'bg-f5795f'}[poorInfo.collegeAudit]">
                        {{poorInfo.collegeAudit}}
                    </td>
                    <td title="'学院公示'" filter="{ collegeAnno: 'text'}" sortable="'collegeAnno'"
                        ng-class="{'未进行': 'bg-c9ebf7', '正在进行': 'bg-a7c07f', '已驳回': 'bg-f5795f'}[poorInfo.collegeAnno]">
                        {{poorInfo.collegeAnno}}
                    </td>
                    <td title="'学校审核'" filter="{ schoolAudit: 'text'}" sortable="'schoolAudit'"
                        ng-if="vm.statusCode>5&&(poorInfo.status==10||poorInfo.status==11||poorInfo.status==110)">
                        <select class="form-control p0 h25 w110 inline-block"
                                ng-change="changeLevel(poorInfo.studentId,poorInfo.selected.name)"
                                ng-options="option.name for option in vm.povertyLevelList track by option.name"
                                ng-model="poorInfo.selected"></select>
                    </td>
                    <td title="'学校审核'" filter="{ schoolAudit: 'text'}" sortable="'schoolAudit'"
                        ng-class="{'未进行': 'bg-c9ebf7', '正在进行': 'bg-a7c07f', '已驳回': 'bg-f5795f'}[poorInfo.schoolAudit]"
                        ng-if="vm.statusCode<=5||poorInfo.status!=10&&poorInfo.status!=11&&poorInfo.status!=110">
                        {{poorInfo.schoolAudit}}
                    </td>
                    <td title="'学校公示'" filter="{ schoolAnno: 'text'}" sortable="'schoolAnno'"
                        ng-class="{'未进行': 'bg-c9ebf7', '正在进行': 'bg-a7c07f', '已驳回': 'bg-f5795f'}[poorInfo.schoolAnno]">
                        {{poorInfo.schoolAnno}}
                    </td>
                    <td title="'认定结果'" filter="{ result: 'text'}" sortable="'result'"
                        ng-class="{'未进行': 'bg-c9ebf7', '正在进行': 'bg-a7c07f', '已驳回': 'bg-f5795f'}[poorInfo.result]">
                        {{poorInfo.result}}
                    </td>
                    <td title="'取消困难认定'" ng-if="vm.statusCode>0">
                        <a href="javascript:;" class="text-danger underline"
                           ng-click="cancelApplyModal(poorInfo.studentId)">取消认定</a>
                    </td>
                </tr>
            </table>
        </div>
        <div ng-switch-when="2" class="text-center">暂无记录</div>
    </div>
</div>
<div ng-if="vm.statusCode==7&&vm.studentMaxStatus!=10&&vm.studentMaxStatus!=11&&vm.studentMaxStatus!=107&&vm.studentMaxStatus!=108&&vm.studentMaxStatus!=109&&vm.studentMaxStatus!=110||(vm.statusCode>6&&(vm.studentMaxStatus==12||vm.studentMaxStatus==105||vm.studentMaxStatus==106||vm.studentMaxStatus>=111))">
    <div ng-switch="vm.tableFlag" class="p20 pt0">
        <div class="confirm-info-title ml0 mt20 mb10">学生问题反馈</div>
        <div class="text-center" ng-switch-when="0">加载中……</div>
        <div ng-switch-when="1" class="mb20">
            <div ng-if="vm.showFeedBack=='true'" class="feed-back">
                <table ng-table="tableParams" class="table  table-hover th-no-padding">
                    <tr ng-repeat="feedback in $data">
                        <td class="w50">
                            <img class="pull-left" src="build/images/face.png" alt=""/>
                        </td>
                        <td>
                            <p>{{feedback.name}}
                                {{feedback.studentId}}
                                {{feedback.collegeName}}</p>
                            <p class="small text-muted">{{feedback.time | date : 'yyyy-MM-dd HH:mm:ss'}}</p>
                            <p class="feedback-content">{{feedback.content}}</p>
                        </td>
                        <td>
                            <span ng-if="feedback.isDeal==0">
                                <a href="javascript:;" ng-click="dealFeedbackShow(feedback.studentId)">处理</a>
                            </span>
                            <span ng-if="feedback.isDeal==1" class="text-muted">
                                已处理
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-if="vm.showFeedBack=='false'">
                <table ng-table="tableParams" class="table table-bordered table-striped table-hover "
                       show-filter="vm.showFilter">
                    <tr ng-repeat="poorInfo in $data">
                        <td title="'姓名'" filter="{ name: 'text'}" sortable="'name'">
                            {{poorInfo.name}}
                        </td>
                        <td title="'学号'" filter="{ studentId: 'number'}" sortable="'studentId'">
                            {{poorInfo.studentId}}
                        </td>
                        <td title="'年级'" filter="{ gradeName: 'text'}" sortable="'gradeName'">
                            {{poorInfo.gradeName}}
                        </td>
                        <td title="'学院'" filter="{ collegeName: 'text'}" sortable="'collegeName'">
                            {{poorInfo.collegeName}}
                        </td>
                        <td title="'专业'" filter="{ majorName: 'text'}" sortable="'majorName'">
                            {{poorInfo.majorName}}
                        </td>
                        <td title="'班级'" filter="{ className: 'text'}" sortable="'className'">
                            {{poorInfo.className}}
                        </td>
                        <td title="'申请材料'" class="col-md-1">
                            <one-person-info id="{{poorInfo.studentId}}"></one-person-info>
                        </td>
                        <td title="'建议等级'" filter="{ suggestLevel: 'text'}" sortable="'suggestLevel'">
                            {{poorInfo.suggestLevel}}
                        </td>
                        <td title="'民主评议'" filter="{ democracyAudit: 'text'}" sortable="'democracyAudit'"
                            ng-class="{'未进行': 'bg-c9ebf7', '正在进行': 'bg-a7c07f', '已驳回': 'bg-f5795f'}[poorInfo.democracyAudit]">
                            {{poorInfo.democracyAudit}}
                        </td>
                        <td title="'辅导员审核'" filter="{ advisorAudit: 'text'}" sortable="'advisorAudit'"
                            ng-class="{'未进行': 'bg-c9ebf7', '正在进行': 'bg-a7c07f', '已驳回': 'bg-f5795f'}[poorInfo.advisorAudit]">
                            {{poorInfo.advisorAudit}}
                        </td>
                        <td title="'学院审核'" filter="{ collegeAudit: 'text'}" sortable="'collegeAudit'"
                            ng-class="{'未进行': 'bg-c9ebf7', '正在进行': 'bg-a7c07f', '已驳回': 'bg-f5795f'}[poorInfo.collegeAudit]">
                            {{poorInfo.collegeAudit}}
                        </td>
                        <td title="'学院公示'" filter="{ collegeAnno: 'text'}" sortable="'collegeAnno'"
                            ng-class="{'未进行': 'bg-c9ebf7', '正在进行': 'bg-a7c07f', '已驳回': 'bg-f5795f'}[poorInfo.collegeAnno]">
                            {{poorInfo.collegeAnno}}
                        </td>
                        <td title="'学校审核'" filter="{ schoolAudit: 'text'}" sortable="'schoolAudit'"
                            ng-if="vm.statusCode==6||vm.studentMaxStatus==106||vm.studentMaxStatus==114||vm.studentMaxStatus==115||(vm.statusCode==7&&(vm.studentMaxStatus==10||vm.studentMaxStatus==11||vm.studentMaxStatus==12))">
                            <select class="form-control p0 h25 w110 inline-block"
                                    ng-change="changeLevel(poorInfo.studentId,poorInfo.selected.name)"
                                    ng-options="option.name for option in vm.povertyLevelList track by option.name"
                                    ng-model="poorInfo.selected"></select>
                        </td>
                        <td title="'学校审核'" filter="{ schoolAudit: 'text'}" sortable="'schoolAudit'"
                            ng-class="{'未进行': 'bg-c9ebf7', '正在进行': 'bg-a7c07f', '已驳回': 'bg-f5795f'}[poorInfo.schoolAudit]"
                            ng-if="vm.statusCode!=6&&vm.studentMaxStatus!=114&&vm.studentMaxStatus!=115&&vm.statusCode!=7||(vm.statusCode==7&&(vm.studentMaxStatus==104||vm.studentMaxStatus==105||vm.studentMaxStatus==111||vm.studentMaxStatus==112||vm.studentMaxStatus==113))">
                            {{poorInfo.schoolAudit}}
                        </td>
                        <td title="'学校公示'" filter="{ schoolAnno: 'text'}" sortable="'schoolAnno'"
                            ng-class="{'未进行': 'bg-c9ebf7', '正在进行': 'bg-a7c07f', '已驳回': 'bg-f5795f'}[poorInfo.schoolAnno]">
                            {{poorInfo.schoolAnno}}
                        </td>
                        <td title="'认定结果'" filter="{ result: 'text'}" sortable="'result'"
                            ng-class="{'未进行': 'bg-c9ebf7', '正在进行': 'bg-a7c07f', '已驳回': 'bg-f5795f'}[poorInfo.result]">
                            {{poorInfo.result}}
                        </td>
                        <td title="'取消困难认定'">
                            <a href="javascript:;" class="text-danger underline"
                               ng-click="cancelApplyModal(poorInfo.studentId)">取消认定</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-switch-when="2" class="text-center">暂无记录</div>
    </div>
</div>
<!-- rejectToCollege -->
<div class="modal fade" id="rejectToCollege" tabindex="-1" role="dialog" aria-labelledby="myModalLabelfamily">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelfamily">驳回至学院</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">驳回至学院</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="colleges">
                                <option ng-repeat="college in vm.collegeList" value="{{college.id}}">
                                    {{college.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">驳回原因</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="" id="" cols="30" rows="5"
                                      ng-model="vm.rejectToCollege.content"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="addReject()" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- dealFeedback -->
<div class="modal fade" id="dealFeedback" tabindex="-1" role="dialog" aria-labelledby="dealFeedback1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dealFeedback1">处理描述</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <textarea class="form-control w80 margin-auto" name="" cols="30" rows="5" maxlength="1000"
                                  ng-model="vm.remark"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="dealFeedback()" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- 取消认定 -->
<div class="modal fade" id="cancelApply" tabindex="-1" role="dialog" aria-labelledby="cancelApplyModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="cancelApplyModal">是否确认取消该生的困难认定？</h4>
            </div>
            <div class="modal-body">
                <p class="text-danger">
                    警告：该生的困难认定取消后将无法恢复，是否确认取消该生的困难认定？
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-default w110">否</button>
                <button type="button" ng-click="cancelApply()" class="btn btn-primary w110">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- 补填申请 -->
<div class="modal fade" id="reApply" tabindex="-1" role="dialog" aria-labelledby="reApplyModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="reApplyModal">补填申请</h4>
            </div>
            <div class="modal-body p35">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="applyStudentId">请输入该生学号：<span
                                class="fs12">（注意：该生必须完善了个人基本信息才能够添加到认定流程中）</span></label>
                        <input type="text" class="form-control w180" id="applyStudentId" ng-model="vm.reApply.studentId"
                               placeholder="学号">
                    </div>
                    <div class="form-group">
                        <label for="applyLevel">将该生各阶段贫困等级设置为：<span
                                class="fs12">（注意：系统会自动根据流程进度来添加学生到流程里面）</span></label>
                        <select name="" id="applyLevel" class="form-control w180" ng-model="vm.reApply.level">
                            <option value="特别困难">特别困难</option>
                            <option value="困难">困难</option>
                            <option value="一般困难">一般困难</option>
                            <option value="不困难">不困难</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default w110" data-dismiss="modal" aria-label="Close">取消</button>
                <button type="button" ng-click="addApply()" class="btn btn-primary w110">确定</button>
            </div>
        </div>
    </div>
</div>
