<input type="button" class="btn btn-primary mt10 ml20" ng-disabled="vm.isDealingAll" value="一键提醒" ng-click="dealAll()">
<search-btn show="vm.showFilter"></search-btn>
<div ng-switch="vm.tableFlag" class="p20">
    <div class="text-center" ng-switch-when="0">加载中……</div>
    <script type="text/ng-template" id="headerCheckbox.html">
        <label for="select-all">
            <input type="checkbox" id="select-all" style="vertical-align: -2px;" ng-disabled="vm.isDealOne || vm.isDealingAll" ng-model="checkboxes.checked" class="select-all"
                   value="">全选
        </label>
    </script>
    <div ng-switch-when="1">
        <table ng-table="tableParams" class="table table-bordered table-striped table-hover "
               show-filter="vm.showFilter">
            <tr ng-repeat="student in $data">
                <td header="'headerCheckbox.html'" style="width:60px">
                    <input type="checkbox" ng-model="checkboxes.items[student.studentId]"  ng-disabled="vm.isDealOne || vm.isDealingAll">
                </td>
                <td title="'姓名'" filter="{ name: 'text'}" sortable="'name'">
                    {{student.name}}
                </td>
                <td title="'学号'" filter="{ studentId: 'text'}" sortable="'studentId'">
                    {{student.studentId}}
                </td>
                <td title="'学院'" filter="{ collegeName: 'text'}" sortable="'collegeName'">
                    {{student.collegeName}}
                </td>
                <td title="'年级'" filter="{ gradeName: 'text'}" sortable="'gradeName'">
                    {{student.gradeName}}
                </td>
                <td title="'专业'" filter="{ majorName: 'text'}" sortable="'majorName'">
                    {{student.majorName}}
                </td>
                <td title="'申请学年'" filter="{ year: 'text'}" sortable="'year'">
                    {{student.year}}学年
                </td>
                <td title="'评定结果'" filter="{ povertyLevel: 'text'}" sortable="'povertyLevel'">
                    {{student.povertyLevel}}
                </td>
            </tr>
        </table>
    </div>
    <div ng-switch-when="2" class="text-center">暂无记录</div>
</div>