<div class="lsTop" style="height: 80px">
    助学贷款
    <div class="lsHead">
        <p class="lstipBk">当前申请助学贷款的学生名单</p>
        <a href="javaScript:" ng-click="vm.show()" class="lsUp" style="width: 100px">搜索</a>
    </div>
</div>

<div class="gaBody">
    <table ng-table="vm.tableParams" class="table" show-filter="vm.show">
        <tr ng-repeat="user in $data">
            <td title="'姓名'" filter="{ name: 'text'}">
                {{user.name}}</td>
            <td title="'学号'" filter="{ studentSn: 'number'}">
                {{user.studentSn}}</td>
            <td title="'专业'" filter="{ specialty: 'text'}">
                {{user.specialty}}</td>
            <td title="'预报名时间'" filter="{ applyTime: 'text'}">
                {{user.applyTime}}</td>
            <td title="'申请金额'" filter="{ applyAmount: 'number'}">
                {{user.applyAmount}}元</td>
            <td title="'审批状态'" filter="{ status: 'text'}">
                {{user.status}}</td>
            <td title="'审批结果'" filter="{ result: 'text'}">
                {{user.result}}</td>
            <td title="'贷款次数'" filter="{ result: 'text'}">
                {{user.loanTimes}}</td>
        </tr>
    </table>
</div>
