<div class="left-top-bar">
<!--    <operate-process ng-if="vm.commitBtnShow && maxStatus === 8"
                     class="btn btn-primary mr10 pull-right"
                     is-commiting="vm.inCommiting"
                     btn-value="提交至学校公示"
                     step="college" is-pass="1" refresh="init()"></operate-process>-->
    <input type="button"  ng-if="vm.commitBtnShow && !vm.openFlag" class="btn btn-primary mr10 pull-right" value="设置学校公示时间" ng-click="openTimeSetting()">
    <operate-process ng-if="vm.commitBtnShow&&vm.openFlag && vm.toEndBtn" class="btn btn-primary mr10"
                     btn-value="完成认定" is-commiting="vm.inCommiting"
                     step="school" is-pass="3" refresh="init()"></operate-process>
    <input type="button" class="btn btn-warning mr10 " value="驳回至学院审核" ng-if="vm.commitBtnShow" is-commiting="vm.inCommiting"
           ng-click="rejectToCollege()" ng-disabled="vm.inCommiting">
</div>
<header class="hx-header">
    <nav>
        <ul class="list-inline clearfix">
            <li><a ng-class="{active:vm.active==0}" ng-click="changeNav(0)">学校审核</a></li>
            <li><a ng-class="{active:vm.active==1}" ng-click="changeNav(1)">学校公示</a></li>
        </ul>
    </nav>
</header>
<section class="hx-content toggle">
    <div ng-show="vm.active==0">
        <div class="h50 lh50 pl20  border-bottom text-status">
            <span>状态：{{processName}}</span>
        </div>
        <div class="h50 lh50 pl20 clearfix">
    <span class="pull-left">
        <span>截止时间：{{lastTime | date : 'yyyy-MM-dd'}}</span>
        <span class="ml10">当前已提交{{vm.totalNum}}人</span>
        <download class="ml10"></download>
    </span>
            <search-btn show="vm.showFilter"></search-btn>
            <a href="/#/viewOperationRecord" target="_blank" class="pull-right mr10">查看操作记录</a>
        </div>
        <div >
            <div ng-switch="vm.tableFlag" class="p20 pt0">
                <div class="text-center" ng-switch-when="0">加载中……</div>
                <div ng-switch-when="1">
                    <table ng-table="tableParams" class="table table-bordered table-striped table-hover "
                           show-filter="vm.showFilter">
                        <tr  ng-repeat="student in $data">
                            <td title="'姓名'" filter="{ name: 'text'}" sortable="'name'">
                                {{student.name}}
                            </td>
                            <td title="'学号'" filter="{ studentId: 'text'}" sortable="'studentId'">
                                {{student.studentId}}
                            </td>
                            <td title="'年级'" filter="{ gradeName: 'text'}" sortable="'gradeName'">
                                {{student.gradeName}}
                            </td>
                            <td title="'学院'" filter="{ collegeName: 'text'}" sortable="'collegeName'">
                                {{student.collegeName}}
                            </td>
                            <td title="'专业'" filter="{ majorName: 'text'}" sortable="'majorName'">
                                {{student.majorName}}
                            </td>
                            <td title="'班级'" filter="{ className: 'text'}" sortable="'className'">
                                {{student.className}}
                            </td>
                            <td title="'申请材料'">
                                <one-person-info id="{{student.studentId}}"></one-person-info>
                            </td>
                            <td title="'民主评议'" filter="{ classResult: 'text'}" sortable="'classResult'"
                                ng-class="{'未进行': 'bg-c9ebf7', '驳回': 'bg-f5795f'}[student.classResult]">
                                {{student.classResult}}
                            </td>
                            <td title="'辅导员审核'" filter="{ advisorResult: 'text'}" sortable="'advisorResult'"
                                ng-class="{'未进行': 'bg-c9ebf7', '驳回': 'bg-f5795f'}[student.advisorResult]">
                                {{student.advisorResult}}
                            </td>
                            <td title="'学院审核'" filter="{ collegeResult: 'text'}" sortable="'collegeResult'"
                                ng-class="{'未进行': 'bg-c9ebf7', '驳回': 'bg-f5795f'}[student.collegeResult]">
                                {{student.collegeResult}}
                            </td>
                            <td title="'学院公示'" filter="{ collegeOpenResult: 'text'}" sortable="'collegeOpenResult'"
                                ng-class="{'未进行': 'bg-c9ebf7', '驳回': 'bg-f5795f'}[student.collegeOpenResult]">
                                {{student.collegeOpenResult}}
                            </td>
                            <td title="'学校审核'" filter="{ schoolResult: 'text'}" sortable="'schoolResult'"
                                ng-class="{'未进行': 'bg-c9ebf7', '驳回': 'bg-f5795f'}[student.schoolResult]">
                                <poverty-level-select
                                        process-instance-id="{{student.processInstanceId}}"
                                        edit="student.taskId || (student.taskId &&  (student.result === '驳回' || vm.reEditStudent))"
                                        default-level="student.schoolResult"
                                        step="school"
                                        is-commiting="vm.inCommiting"
                                ></poverty-level-select>
                            </td>
                            <td title="'学校公示'" filter="{ schoolOpenResult: 'text'}" sortable="'schoolOpenResult'"
                                ng-class="{'未进行': 'bg-c9ebf7', '驳回': 'bg-f5795f'}[student.schoolOpenResult]">
                                {{student.schoolOpenResult}}
                            </td>
                            <td title="'认定结果'" filter="{ result: 'text'}" sortable="'result'"
                                ng-class="{'未进行': 'bg-c9ebf7', '驳回': 'bg-f5795f'}[student.result]">
                                {{student.result}}
                            </td>
                        </tr>

                    </table>
                </div>
                <div ng-switch-when="2" class="text-center">暂无记录</div>
            </div>
        </div>
    </div>
    <div ng-show="vm.active==1">
        <select
                class="pull-right mr10 mt10 h30 lh30 pt0 pb0 form-control w110"
                ng-change="changeStatus()"
                ng-options="option.name for option in vm.statusData.availableOptions track by option.id"
                ng-model="vm.statusData.selectedOption"></select>
            <div ng-switch="vm.openTableFlag" class="p20 pt0">
                <div class="confirm-info-title ml0 mt20 mb10">学生问题反馈</div>
                <div class="text-center" ng-switch-when="0">加载中……</div>
                <div ng-switch-when="1" class="mb20">
                    <div class="feed-back">
                        <table ng-table="openTableParams" class="table table-hover th-no-padding">
                            <tr ng-repeat="feedback in $data">
                                <td class="w50">
                                    <img class="pull-left" src="dist/images/face.png" alt="">
                                </td>
                                <td>
                                    <p class="mb5">{{feedback.plaintiffName}}&nbsp;{{feedback.plaintiff}}
                                        <span class="small text-muted">{{feedback.time | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
                                    </p>
                                    <p class="feedback-content">{{feedback.defendant}}&nbsp;{{feedback.content}}</p>
                                </td>
                                <td>
                            <span ng-if="feedback.status===0">
                                <a href="javascript:;" ng-click="dealFeedbackShow(feedback.id)">处理</a>
                            </span>
                                    <span ng-if="feedback.status===1" class="text-muted">
                                已处理
                            </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div ng-switch-when="2" class="text-center">暂无记录</div>
            </div>
        </div>
</section>
<!-- rejectToCollege -->
<div class="modal fade" id="rejectToCollege" tabindex="-1" role="dialog" aria-labelledby="myModalLabelfamily">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelfamily">驳回至学院</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">驳回至学院</label>
                        <div class="col-sm-8">
                            <select class="form-control"
                                    ng-options="college.collegeAddName for college in vm.collegeList"
                                    ng-model="vm.rejectToCollege.choosedCollege">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">驳回原因</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="" id="" cols="30" rows="5"
                                      ng-model="vm.rejectToCollege.content"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="addReject()" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- 取消认定 -->
<div class="modal fade" id="cancelApply" tabindex="-1" role="dialog" aria-labelledby="cancelApplyModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="cancelApplyModal">是否确认取消该生的困难认定？</h4>
            </div>
            <div class="modal-body">
                <p class="text-danger">
                    警告：该生的困难认定取消后将无法恢复，是否确认取消该生的困难认定？
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-default">否</button>
                <button type="button" ng-click="cancelApply()" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="openTimeSetting" tabindex="-1" role="dialog" aria-labelledby="openTimeSetting1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="openTimeSetting1">学院公示时间设定</h4>
            </div>
            <div class="modal-body">
                <div class="pl10 pr10">
                    <p>请设置时间段</p>
                    <form class="form-horizontal" name="vm.processForm" novalidate>
                        <div class="form-group">
                            <p  class=" input-group inline-block vertical-middle">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup name="applyStart" placeholder="请选择时间"
                                       ng-model="vm.processTimeList.schoolOpenStartTime" is-open="applyStart"
                                       ng-disabled="vm.processTimeList.schoolOpenStartTime<vm.now" datepicker-options="vm.applyStartOptions"
                                       readonly ng-click="applyStart = true" required show-button-bar="false"
                                       ng-class="{'border-error':vm.processForm.applyStart.$invalid&&vm.baseSubmit}">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-icon" ng-click="applyStart = true">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            </p>
                            &nbsp;&nbsp;~&nbsp;&nbsp;
                            <p class=" input-group inline-block vertical-middle">
                                <input type="text" class="form-control" uib-datepicker-popup name="applyEnd"
                                       placeholder="请选择时间"
                                       ng-model="vm.processTimeList.schoolOpenEndTime" is-open="applyEnd"
                                       datepicker-options="vm.applyEndOptions"
                                       readonly ng-click="applyEnd = true" required show-button-bar="false"
                                       ng-class="{'border-error':vm.processForm.applyEnd.$invalid&&vm.baseSubmit}">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-icon" ng-click="applyEnd = true">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            </p>
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" ng-click="updateTime()" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dealFeedback" tabindex="-1" role="dialog" aria-labelledby="dealFeedback1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dealFeedback1">处理描述</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <textarea class="form-control w80 margin-auto" name="" cols="30" rows="5" maxlength="1000"
                                  ng-model="vm.remark"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="dealFeedback()" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

