<div class="h50 lh50 pl20">
    助学金评定配置
    <search-btn show="vm.showFilter"></search-btn>
</div>
<div ng-switch="vm.tableFlag" class="p20 pt0">
    <div class="text-center" ng-switch-when="0">加载中……</div>
    <div ng-switch-when="1">

        <table ng-table="tableParams" class="table table-bordered table-striped table-hover " show-filter="vm.showFilter">
            <tr ng-repeat="setting in $data">
                <td title="'序号'" filter="{ index: 'text'}" sortable="'index'">
                    {{setting.index}}
                </td>
                <td title="'批次名称'" filter="{ name: 'text'}" sortable="'name'">
                    {{setting.name}}
                </td>
                <td title="'奖项数量'" filter="{ num: 'text'}" sortable="'num'">
                    {{setting.num}}级
                </td>
                <td title="'开始时间'" filter="{ startTime: 'text'}" sortable="'startTime'">
                    {{setting.startTime | date : 'yyyy-MM-dd'}}
                </td>
                <td title="'截止时间'" filter="{ endTime: 'text'}" sortable="'endTime'">
                    {{setting.endTime | date : 'yyyy-MM-dd'}}
                </td>
                <td title="'操作'" filter="{ majorName: 'text'}">
                    <a href="javascript:;" ng-click="edit(setting.id)">详情</a>
                </td>
            </tr>
        </table>
    </div>
    <div ng-switch-when="2" class="text-center">暂无记录</div>
</div>

<!-- 添加批次 -->
<div class="modal fade modal-fixed" id="addGrants" tabindex="-1" role="dialog" aria-labelledby="addGrantsModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addGrantsModal">添加批次</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 time-set">
                        <form name="processForm" novalidate>
                            <div class="time-title">批次名</div>
                            <div class="form-group">
                                {{vm.processTimeList.data.processName}}
                            </div>
                            <div class="time-title">时间配置</div>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>步骤</th>
                                    <th>阶段</th>
                                    <th class="w340">时间设置</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="pt15">步骤1</td>
                                    <td class="pt15">学生申请时间段</td>
                                    <td>
                                        {{vm.processTimeList.data.applyStart}}&nbsp;&nbsp;~&nbsp;&nbsp;{{vm.processTimeList.data.applyEnd}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pt15">步骤2</td>
                                    <td class="pt15">民主评议时间段</td>
                                    <td>
                                        {{vm.processTimeList.data.discussStart}}&nbsp;&nbsp;~&nbsp;&nbsp;{{vm.processTimeList.data.discussEnd}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pt15">步骤3</td>
                                    <td class="pt15">辅导员审核时间段</td>
                                    <td>
                                        {{vm.processTimeList.data.advisorStart}}&nbsp;&nbsp;~&nbsp;&nbsp;{{vm.processTimeList.data.advisorEnd}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pt15">步骤4</td>
                                    <td class="pt15">学院审核时间段</td>
                                    <td>
                                        {{vm.processTimeList.data.collegeStart}}&nbsp;&nbsp;~&nbsp;&nbsp;{{vm.processTimeList.data.collegeEnd}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pt15">步骤5</td>
                                    <td class="pt15">学院公示时间段</td>
                                    <td>
                                        {{vm.processTimeList.data.collegeOpenStart}}&nbsp;&nbsp;~&nbsp;&nbsp;{{vm.processTimeList.data.collegeOpenEnd}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pt15">步骤6</td>
                                    <td class="pt15">学校审核时间段</td>
                                    <td>
                                        {{vm.processTimeList.data.schoolStart}}&nbsp;&nbsp;~&nbsp;&nbsp;{{vm.processTimeList.data.schoolEnd}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pt15">步骤7</td>
                                    <td class="pt15">学校公示时间段</td>
                                    <td>
                                        {{vm.processTimeList.data.schoolOpenStart}}&nbsp;&nbsp;~&nbsp;&nbsp;{{vm.processTimeList.data.schoolOpenEnd}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="time-title">助学金配置</div>
                            <ul class="member-send">
                                <li>
                                    <div>
                                        <label>
                                            国家一等助学金
                                        </label>
                                        获奖总人数：10
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <label>
                                            国家二等助学金
                                        </label>
                                        获奖总人数：12
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <label>
                                            国家三等助学金
                                        </label>
                                        获奖总人数：15
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <label>
                                            科为助学金
                                        </label>
                                        获奖总人数：35
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer tc">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-default w110 h40">取消</button>
            </div>
        </div>
    </div>
</div>