<div ng-switch="vm.tableFlag" class="p20 pt0">
    <div class="text-center" ng-switch-when="0">加载中……</div>
    <div ng-switch-when="1">

        <table ng-table="tableParams" class="table table-bordered table-striped table-hover "
               show-filter="vm.showFilter">
            <tr ng-repeat="batch in $data">
                <td title="'序号'" filter="{ index: 'text'}" sortable="'index'">
                    {{batch.index}}
                </td>
                <td title="'批次名称'" filter="{ name: 'text'}" sortable="'name'">
                    <span title="{{batch.name}}">{{batch.name}}</span>
                </td>
                <td title="'奖项数量'" filter="{ assshipCount: 'text'}" sortable="'assshipCount'">
                    <span title="{{batch.assshipCount}}级">{{batch.assshipCount}}级</span>
                </td>
                <td title="'开始时间'" filter="{ start: 'text'}" sortable="'start'">
                    <span title="{{batch.start | date : 'yyyy-MM-dd'}}">{{batch.start | date : 'yyyy-MM-dd'}}</span>
                </td>
                <td title="'截止时间'" filter="{ end: 'text'}" sortable="'end'">
                    <span title="{{batch.end | date : 'yyyy-MM-dd'}}">{{batch.end | date : 'yyyy-MM-dd'}}</span>
                </td>
                <td title="'操作'" filter="{ majorName: 'text'}">
                    <a href="javascript:;" ng-click="batchModalshow(batch.batchId)">详情</a>
                </td>
            </tr>
        </table>
    </div>
    <div ng-switch-when="2" class="text-center">暂无记录</div>
</div>