<!--开发的战友们，1~5 分别代表 学校 学院 辅导员 班级用户 学生-->
<!--学生用户-->
<dl ng-if="userRole === 5" ng-switch="secondClass">
    <dt>贫困</dt>
    <dd class="top-class" ng-click="shSecondClass(1)">
        <a ng-class="{active: state.includes('main.studentInfo') || state.includes('main.povertyApply') || state.includes('main.povertyNotice')}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            困难认定</a>
    </dd>
    <dd class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.studentInfo')}" ui-sref="main.studentInfo">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            基本信息维护</a>
    </dd>
    <dd ng-if="isComplete" class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.povertyApply')}" ui-sref="main.povertyApply">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            困难认定申请<!-- <span ng-if="povertyBigStatus>0"
                         class="pull-right mr20 italic">进行中</span>-->
        </a>
    </dd>
    <dd class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.povertyNotice')}" ui-sref="main.povertyNotice">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            困难认定公示</a>
    </dd>
    <dd class="top-class">
        <a ng-class="{active: state.includes('main.particularlyDifficult')}" ui-sref="main.particularlyDifficult">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            特别困难补助</a>
    </dd>
    <dd class="top-class" ng-click="shSecondClass(2)">
        <a ng-class="{active: state.includes('main.grantApplyIndexSt')|| state.includes('main.grantApplyFill')}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-tianxieshenqing"></use>
            </svg>
            助学金申请</a>
    </dd>
    <dd class="second-class" ng-switch-when="2">
        <a ng-class="{active: state.includes('main.grantApplyIndexSt')}" ui-sref="main.grantApplyIndexSt">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            助学金申请</a>
    </dd>
    <dd class="second-class" ng-switch-when="2">
        <a ng-class="{active: state.includes('main.grantApplyFill')}"  ui-sref="main.grantApplyPublic">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            公示情况 <span ng-if="bigStatus>0"
                       class="pull-right mr20 italic">进行中</span></a>
    </dd>
    <dd class="top-class" ng-click="shSecondClass(888)">
        <a ng-class="{active: state.includes('main.grantApplyIndexSt')|| state.includes('main.grantApplyFill')}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-tianxieshenqing"></use>
            </svg>
            励志奖学金申请</a>
    </dd>
    <dd class="second-class" ng-switch-when="888">
        <a ng-class="{active: state.includes('main.scholarStudentInfo')}" ui-sref="main.scholarStudentInfo">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            励志奖学金申请</a>
    </dd>
    <dd class="second-class" ng-switch-when="888">
        <a ng-class="{active: state.includes('main.scholarPublicSt')}"  ui-sref="main.scholarPublicSt">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            公示情况 <span ng-if="bigStatus>0"
                       class="pull-right mr20 italic">进行中</span></a>
    </dd>
    <dd class="top-class" ng-click="shSecondClass(3)">
        <a ng-class="{active: state.includes('main.loanSt')}" ui-sref="main.loanSt">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            助学贷款</a>
    </dd>
    <dt>更多</dt>
    <dd>
        <a ng-class="{active: state.includes('main.myApply')}" ui-sref="main.myApply">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-iconfontcolor33"></use>
            </svg>
            我的申请</a>
    </dd>
    <dd>
        <a ng-class="{active: state.includes('main.messageList')}" ui-sref="main.messageList">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-iconfontcolor33"></use>
            </svg>
            消息提醒</a>
    </dd>
    <dd>
        <a ng-class="{active: state.includes('main.noticeList')}" ui-sref="main.noticeList">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-gonggao-copy"></use>
            </svg>
            学校公告</a>
    </dd>
    <!--<dd>
        <a ng-class="{active: state.includes('main.studentHelp')}" ui-sref="main.studentHelp">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-iconview"></use>
            </svg>
            使用前阅读</a>
    </dd>-->
</dl>
<!--班级用户-->
<dl ng-if="userRole === 4" ng-switch="secondClass">
    <dt>贫困</dt>
    <dd class="top-class" ng-click="shSecondClass(1)">
        <a ng-class="{active: state.includes('main.studentInfo') || state.includes('main.povertyApply') || state.includes('main.classAuditPovertyMaterial') || state.includes('main.classAuditPoverty') || state.includes('main.povertyNotice')}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            困难认定</a>
    </dd>
    <dd class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.studentInfo')}" ui-sref="main.studentInfo">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            基本信息维护</a>
    </dd>
    <dd ng-if="isComplete" class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.povertyApply')}" ui-sref="main.povertyApply">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            困难认定申请 <!--<span ng-if="povertyBigStatus>0"
                         class="pull-right mr20 italic">进行中</span>--></a>
    </dd>
    <!--<dd class="second-class" ng-switch-when="1">-->
        <!--<a ng-class="{active: state.includes('main.classAuditPovertyMaterial')}" ui-sref="main.classAuditPovertyMaterial">-->
            <!--<svg class="icon" aria-hidden="true">-->
                <!--<use xlink:href=""></use>-->
            <!--</svg>-->
            <!--学生材料审核 <span ng-if="povertyBigStatus === 1"-->
                         <!--class="pull-right mr20 italic">进行中</span></a>-->
    <!--</dd>-->
    <dd class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.classAuditPoverty')}" ui-sref="main.classAuditPoverty">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            困难认定评审 <!--<span ng-if="povertyBigStatus === 2"
                         class="pull-right mr20 italic">进行中</span>--></a>
    </dd>
    <dd class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.povertyNotice')}" ui-sref="main.povertyNotice">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            困难认定公示</a>
    </dd>
    <dt>助学金</dt>
    <dd class="top-class">
        <a ng-class="{active: state.includes('main.grantsApply')}" ui-sref="main.grantsApply">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-bianji"></use>
            </svg>
            助学金评定申请</a>
    </dd>
    <dd class="top-class">
        <a ng-class="{active: state.includes('main.classAuditGrants')}" ui-sref="main.classAuditGrants">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-tongzhi"></use>
            </svg>
            助学金评定审核</a>
    </dd>
    <dd class="top-class">
        <a ng-class="{active: state.includes('main.grantsNotice')}" ui-sref="main.grantsNotice">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-tongzhi"></use>
            </svg>
            助学金评定公示</a>
    </dd>

    <dt>更多</dt>
    <dd>
        <a ng-class="{active: state.includes('main.myApply')}" ui-sref="main.myApply">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-iconfontcolor33"></use>
            </svg>
            我的申请</a>
    </dd>
    <dd>
        <a ng-class="{active: state.includes('main.messageList')}" ui-sref="main.messageList">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-iconfontcolor33"></use>
            </svg>
            消息提醒</a>
    </dd>
    <dd>
        <a ng-class="{active: state.includes('main.noticeList')}" ui-sref="main.noticeList">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-gonggao-copy"></use>
            </svg>
            学校公告 </a>
    </dd>
    <dd class="top-class">
        <a ng-class="{active: state.includes('main.statistic.economic') || state.includes('main.statistic.grantInAid')}" ui-sref="main.statistic.economic">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            数据统计</a>
    </dd>
    <!--<dd>
        <a ng-class="{active: state.includes('main.studentHelp')}" ui-sref="main.studentHelp">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-iconview"></use>
            </svg>
            使用前阅读</a>
    </dd>-->
</dl>
<!--教师用户 老师用户  辅导员用户-->
<dl ng-if="userRole === 3" ng-switch="secondClass">
    <dt>贫困</dt>
    <dd class="top-class" ng-click="shSecondClass(1)">
        <a ng-class="{active: state.includes('main.advisorAuditPovertyMaterial') || state.includes('main.advisorAuditPoverty') || state.includes('main.povertyResult') || state.includes('main.dynamicManage')}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            困难认定</a>
    </dd>
    <dd class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.advisorAuditPovertyMaterial')}" ui-sref="main.advisorAuditPovertyMaterial">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            学生材料审核</a>
    </dd>
    <dd class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.advisorAuditPoverty')}" ui-sref="main.advisorAuditPoverty">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            困难认定评审</a>
    </dd>
    <dd class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.povertyResult')}" ui-sref="main.povertyResult">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            困难认定结果</a>
    </dd>
    <dd class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.advisorAuditPovertyFormerYear')}" ui-sref="main.advisorAuditPovertyFormerYear">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            去年申请本次未申请</a>
    </dd>
   <!-- <dd class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.dynamicManage')}" ui-sref="main.dynamicManage">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            动态管理</a>
    </dd>-->
    <dd class="top-class">
        <a ng-class="{active: state.includes('main.tdSubsidy')}" ui-sref="main.tdSubsidy">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            临时困难补助</a>
    </dd>
    <dd class="top-class" ng-click="shSecondClass(5)">
        <a ng-class="{active: state.includes('main.advisorParticularlyDifficultUnchecked')  || state.includes('main.advisorParticularlyDifficultChecked')}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            特别困难补助</a>
    </dd>
    <dd class="second-class" ng-switch-when="5">
        <a ng-class="{active: state.includes('main.advisorParticularlyDifficultUnchecked')}" ui-sref="main.advisorParticularlyDifficultUnchecked">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            未审核</a>
    </dd>
    <dd class="second-class" ng-switch-when="5">
        <a ng-class="{active: state.includes('main.advisorParticularlyDifficultChecked')}" ui-sref="main.advisorParticularlyDifficultChecked">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            已审核</a>
    </dd>
    <dd class="top-class">
        <a ng-class="{active: state.includes('main.srGroup')}" ui-sref="main.srGroup">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            资助记录</a>
    </dd>
    <dt>助学金</dt>
    <dd class="top-class" ng-click="shSecondClass(2)">
        <a ng-class="{active: state.includes('main.grantAdminTc')||state.includes('main.grantApplyFillTc')||state.includes('main.grantAdminPublicTc')}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            助学金管理</a>
    </dd>
    <dd class="second-class" ng-switch-when="2">
        <a ng-class="{active: state.includes('main.grantAdminTc')}" ui-sref="main.grantAdminTc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            学生审核</a>
    </dd>
    <dd class="second-class" ng-switch-when="2">
        <a ng-class="{active: state.includes('main.grantApplyFillTc')}" ui-sref="main.grantApplyFillTc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            评定流程</a>
    </dd>
    <dd class="second-class" ng-switch-when="2">
        <a ng-class="{active: state.includes('main.grantAdminPublicTc')}" ui-sref="main.grantAdminPublicTc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            公示</a>
    </dd>
    <dd class="top-class" ng-click="shSecondClass(888)">
        <a ng-class="{active: state.includes('main.scholarFillTc')||state.includes('main.scholarPublicTc')}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            励志奖学金管理</a>
    </dd>
    <dd class="second-class" ng-switch-when="888">
        <a ng-class="{active: state.includes('main.scholarFillTc')}" ui-sref="main.scholarFillTc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            审核</a>
    </dd>
    <dd class="second-class" ng-switch-when="888">
        <a ng-class="{active: state.includes('main.scholarPublicTc')}" ui-sref="main.scholarPublicTc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            公示</a>
    </dd>
    <dd class="top-class" ng-click="shSecondClass(3)">
        <a ng-class="{active: state.includes('main.loanTc')}" ui-sref="main.loanTc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            助学贷款</a>
    </dd>



    <dt>更多</dt>
    <dd>
        <a ng-class="{active: state.includes('main.messageList')}" ui-sref="main.messageList">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-iconfontcolor33"></use>
            </svg>
            消息提醒</a>
    </dd>
    <dd>
        <a ng-class="{active: state.includes('main.noticeList')}" ui-sref="main.noticeList">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-gonggao-copy"></use>
            </svg>
            学校公告</a>
    </dd>
    <dd class="top-class">
        <a ng-class="{active: state.includes('main.statistic.economic') || state.includes('main.statistic.grantInAid')}" ui-sref="main.statistic">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            数据统计</a>
    </dd>
    <!--<dd>
        <a ng-class="{active: state.includes('main.advisorHelp')}" ui-sref="main.advisorHelp">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-iconview"></use>
            </svg>
            使用前阅读</a>
    </dd>-->
</dl>

<!--学院用户-->
<dl ng-if="userRole === 2" ng-switch="secondClass">
    <dt>贫困</dt>
    <dd class="top-class" ng-click="shSecondClass(1)">
        <a ng-class="{active: state.includes('main.collegeAuditPoverty') || state.includes('main.povertyResult') || state.includes('main.dynamicManage')}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            困难认定</a>
    </dd>
    <dd class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.collegeAuditPoverty')}" ui-sref="main.collegeAuditPoverty">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            困难认定评审</a>
    </dd>
    <dd class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.povertyResult')}" ui-sref="main.povertyResult">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            困难认定结果</a>
    </dd>
    <dd class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.collegeAuditPovertyFormerYear')}" ui-sref="main.collegeAuditPovertyFormerYear">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            去年申请本次未申请</a>
    </dd>
    <!--<dd class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.dynamicManage')}" ui-sref="main.dynamicManage">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            动态管理</a>
    </dd>-->
    <dd class="top-class">
        <a ng-class="{active: state.includes('main.tdSubsidy')}" ui-sref="main.tdSubsidy">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            临时困难补助</a>
    </dd>
    <dd class="top-class" ng-click="shSecondClass(5)">
        <a ng-class="{active: state.includes('main.collegeParticularlyDifficultUnchecked')  || state.includes('main.collegeParticularlyDifficultChecked')}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            特别困难补助</a>
    </dd>
    <dd class="second-class" ng-switch-when="5">
        <a ng-class="{active: state.includes('main.collegeParticularlyDifficultUnchecked')}" ui-sref="main.collegeParticularlyDifficultUnchecked">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            未审核</a>
    </dd>
    <dd class="second-class" ng-switch-when="5">
        <a ng-class="{active: state.includes('main.collegeParticularlyDifficultChecked')}" ui-sref="main.collegeParticularlyDifficultChecked">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            已审核</a>
    </dd>
    <dd class="top-class">
        <a ng-class="{active: state.includes('main.srGroup')}" ui-sref="main.srGroup">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            资助记录</a>
    </dd>
    <dt>助学金</dt>
    <dd>
        <a ng-class="{active: state.includes('main.collegeGrantsSetting')}" ui-sref="main.collegeGrantsSetting">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-guanli"></use>
            </svg>
            助学金评定管理</a>
    </dd>
    <dd>
        <a ng-class="{active: state.includes('main.collegeAuditGrants')}" ui-sref="main.collegeAuditGrants">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-shenhe"></use>
            </svg>
            助学金评定审核</a>
    </dd>
    <dd>
        <a ng-class="{active: state.includes('main.grantsResult')}" ui-sref="main.grantsResult">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-biaodan"></use>
            </svg>
            助学金评定结果</a>
    </dd>
    <dd class="top-class" ng-click="shSecondClass(123)">
        <a ng-class="{active: state.includes('main.grantAdminSc') || state.includes('main.grantAdminComPublicSc') || state.includes('main.grantAdminPublicSc')}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            助学金管理</a>
    </dd>
    <dd class="second-class" ng-switch-when="123">
        <a ng-class="{active: state.includes('main.grantAdminSc')}" ui-sref="main.grantAdminSc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            评定流程</a>
    </dd>
    <dd class="second-class" ng-switch-when="123">
        <a ng-class="{active: state.includes('main.grantAdminPublicSc')}" ui-sref="main.grantAdminPublicSc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            评定结果</a>
    </dd>
    <dd class="second-class" ng-switch-when="123">
        <a ng-class="{active: state.includes('main.grantAdminConfigSc')}" ui-sref="main.grantAdminConfigSc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            配置管理</a>
    </dd>
    <dd class="second-class" ng-switch-when="123">
        <a ng-class="{active: state.includes('main.grantAdminClassManerSc')}" ui-sref="main.grantAdminClassManerSc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            配置班级</a>
    </dd>
    <dd class="top-class" ng-click="shSecondClass(111)">
        <a ng-class="{active: state.includes('main.scholarSc') || state.includes('main.scholarClassManerSc')}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            励志奖学金管理</a>
    </dd>
    <dd class="second-class" ng-switch-when="111">
        <a ng-class="{active: state.includes('main.scholarSc')}" ui-sref="main.scholarSc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            评定流程</a>
    </dd>
    <dd class="second-class" ng-switch-when="111">
        <a ng-class="{active: state.includes('main.scholarClassManerSc')}" ui-sref="main.scholarClassManerSc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            配置管理</a>
    </dd>
    <dt>更多</dt>
    <dd>
        <a ng-class="{active: state.includes('main.messageList')}" ui-sref="main.messageList">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-iconfontcolor33"></use>
            </svg>
            消息提醒</a>
    </dd>
    <dd>
        <a ng-class="{active: state.includes('main.noticeList')}" ui-sref="main.noticeList">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-gonggao-copy"></use>
            </svg>
            学校公告</a>
    </dd>
    <dd>
        <a ng-class="{active: state.includes('main.loanSc')}" ui-sref="main.loanSc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-gonggao-copy"></use>
            </svg>
        助学贷款</a>
    </dd>
    <dd class="top-class">
        <a ng-class="{active: state.includes('main.statistic.economic') || state.includes('main.statistic.grantInAid')}" ui-sref="main.statistic.economic">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            数据统计</a>
    </dd>
    <!--<dd>
        <a ng-class="{active: state.includes('main.collegeHelp')}" ui-sref="main.collegeHelp">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-iconview"></use>
            </svg>
            使用前阅读</a>
    </dd>-->
</dl>
<!--学校用户-->
<dl ng-if="userRole === 1" ng-switch="secondClass">
    <dt>贫困</dt>
    <dd class="top-class" ng-click="shSecondClass(1)">
        <a ng-class="{active: state.includes('main.schoolAuditPoverty') || state.includes('main.povertyResult') || state.includes('main.dynamicManage')}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            困难认定</a>
    </dd>
    <dd class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.schoolAuditPoverty')}" ui-sref="main.schoolAuditPoverty">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            困难认定评审</a>
    </dd>
    <dd class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.povertyResult')}" ui-sref="main.povertyResult">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            困难认定结果</a>
    </dd>
   <!-- <dd class="second-class" ng-switch-when="1">
        <a ng-class="{active: state.includes('main.dynamicManage')}" ui-sref="main.dynamicManage">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            动态管理</a>
    </dd>-->
    <dd class="top-class">
        <a ng-class="{active: state.includes('main.tdSubsidy')}" ui-sref="main.tdSubsidy">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            临时困难补助</a>
    </dd>
    <dd class="top-class" ng-click="shSecondClass(5)">
        <a ng-class="{active: state.includes('main.schoolParticularlyDifficultUnchecked')  || state.includes('main.schoolParticularlyDifficultChecked')}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            特别困难补助</a>
    </dd>
    <dd class="second-class" ng-switch-when="5">
        <a ng-class="{active: state.includes('main.schoolParticularlyDifficultUnchecked')}" ui-sref="main.schoolParticularlyDifficultUnchecked">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            未审核</a>
    </dd>
    <dd class="second-class" ng-switch-when="5">
        <a ng-class="{active: state.includes('main.schoolParticularlyDifficultChecked')}" ui-sref="main.schoolParticularlyDifficultChecked">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            已审核</a>
    </dd>
    <dd class="top-class">
        <a ng-class="{active: state.includes('main.gtaSubsidy')}" ui-sref="main.gtaSubsidy">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            入伍补助</a>
    </dd>
    <dd class="top-class">
        <a ng-class="{active: state.includes('main.timeSets')}" ui-sref="main.timeSets">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-shijian"></use>
            </svg>
            困难认定配置</a>
    </dd>
    <dd class="top-class">
        <a ng-class="{active: state.includes('main.diffTimeSets')}" ui-sref="main.diffTimeSets">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-shijian"></use>
            </svg>
            特困补助配置</a>
    </dd>
    <dd class="top-class">
        <a ng-class="{active: state.includes('main.srGroup')}" ui-sref="main.srGroup">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            资助记录</a>
    </dd>
    <!--<dt>助学金</dt>-->
    <!--<dd>-->
        <!--<a ng-class="{active: state.includes('main.schoolGrantsSetting')}" ui-sref="main.schoolGrantsSetting">-->
            <!--<svg class="icon" aria-hidden="true">-->
                <!--<use xlink:href="#icon-guanli"></use>-->
            <!--</svg>-->
            <!--助学金评定管理</a>-->
    <!--</dd>-->
    <!--<dd>-->
        <!--<a ng-class="{active: state.includes('main.schoolAuditGrants')}" ui-sref="main.schoolAuditGrants">-->
            <!--<svg class="icon" aria-hidden="true">-->
                <!--<use xlink:href="#icon-shenhe"></use>-->
            <!--</svg>-->
            <!--助学金评定审核</a>-->
    <!--</dd>-->
    <!--<dd>-->
        <!--<a ng-class="{active: state.includes('main.grantsResult')}" ui-sref="main.grantsResult">-->
            <!--<svg class="icon" aria-hidden="true">-->
                <!--<use xlink:href="#icon-biaodan"></use>-->
            <!--</svg>-->
            <!--助学金评定结果</a>-->
    <!--</dd>-->
    <dd>
        <a ng-class="{active: state.includes('main.schoolGrantsManage')}" ui-sref="main.schoolGrantsManage">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-1232221"></use>
            </svg>
            助学金管理</a>
    </dd>

    <dt>更多</dt>
    <dd class="top-class" ng-click="shSecondClass(3)">
        <a ng-class="{active: state.includes('main.loanCc')}" ui-sref="main.loanCc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            助学贷款</a>
    </dd>
    <dd>
        <a ng-class="{active: state.includes('main.analysis')}" ui-sref="main.analysis">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-fenxi"></use>
            </svg>
            资助分析</a>
    </dd>
    <dd>
        <a ng-class="{active: state.includes('main.messageList')}" ui-sref="main.messageList">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-iconfontcolor33"></use>
            </svg>
            消息提醒</a>
    </dd>
    <dd>
        <a ng-class="{active: state.includes('main.noticeList')}" ui-sref="main.noticeList">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-gonggao-copy"></use>
            </svg>
            学校公告</a>
    </dd>
    <dd>
        <a ng-class="{active: state.includes('main.sendNotice')}" ui-sref="main.sendNotice">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-gonggao"></use>
            </svg>
            发布公告</a>
    </dd>
    <dd>
        <a ng-class="{active: state.includes('main.historyApply')}" ui-sref="main.historyApply">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-jilu"></use>
            </svg>
            历史评定</a>
    </dd>
    <dd class="top-class">
        <a ng-class="{active: state.includes('main.statistic.economic') || state.includes('main.statistic.grantInAid')}" ui-sref="main.statistic.economic">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            数据统计</a>
    </dd>
 &lt;!&ndash;<dd>
        <a ng-class="{active: state.includes('main.schoolHelp')}" ui-sref="main.schoolHelp">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-iconview"></use>
            </svg>
            使用前阅读</a>
    </dd>&ndash;&gt;


    <dd class="top-class" ng-click="shSecondClass(88)">
        <a ng-class="{active: state.includes('main.grantAdminCc') || state.includes('main.grantAdminPublicCc') || state.includes('main.dynamicManage')}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            助学金管理</a>
    </dd>
    <dd class="second-class" ng-switch-when="88">
        <a ng-class="{active: state.includes('main.grantAdminCc')}" ui-sref="main.grantAdminCc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            评定流程</a>
    </dd>
    <dd class="second-class" ng-switch-when="88">
        <a ng-class="{active: state.includes('main.grantAdminPublicCc')}" ui-sref="main.grantAdminPublicCc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            评定结果</a>
    </dd>
    <dd class="second-class" ng-switch-when="88">
        <a ng-class="{active: state.includes('main.grantAdminComPublicCc')}" ui-sref="main.grantAdminComPublicCc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            完成认定</a>
    </dd>
    <dd class="second-class" ng-switch-when="88">
        <a ng-class="{active: state.includes('main.grantAdminConfigCc')}" ui-sref="main.grantAdminConfigCc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            配置管理</a>
    </dd>

    <dd class="top-class" ng-click="shSecondClass(77)">
        <a ng-class="{active: state.includes('main.scholarCc') || state.includes('main.scholarSchoolManerCc')}">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-wode"></use>
            </svg>
            励志奖学金管理</a>
    </dd>
    <dd class="second-class" ng-switch-when="77">
        <a ng-class="{active: state.includes('main.scholarCc')}" ui-sref="main.scholarCc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            评定流程</a>
    </dd>
    <dd class="second-class" ng-switch-when="77">
        <a ng-class="{active: state.includes('main.scholarSchoolManerCc')}" ui-sref="main.scholarSchoolManerCc">
            <svg class="icon" aria-hidden="true">
                <use xlink:href=""></use>
            </svg>
            配置管理</a>
    </dd>-->



</dl>



<div class="modal fade" id="needEdit" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
     aria-labelledby="myModalLabelNeedEdit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelNeedEdit">请完善个人信息</h4>
            </div>
            <div class="modal-body">
                <p class="text-danger">提示：在您第一次使用本系统时，系统将会要求您填写您的个人基本信息，请如实填写。</p>
                <div class="text-center">
                    <input type="button" ng-click="goEdit()" class="btn btn-primary" value="填写个人资料">
                </div>
            </div>
        </div>
    </div>
</div>