<div class="inline-block">
    <input type="button" value="查看公告处理意见" class="btn btn-primary ml20 mt10" ng-click="getNoticeDissent()">
    <div class="modal fade" id="getNoticeDissent" tabindex="-1" role="dialog" aria-labelledby="myModalLabelfeedBack">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabelfeedBack">意见处理结果</h4>
                </div>
                <div class="modal-body dissent-body">
                    <p class="text-muted text-center mt40" ng-if="dissentFlag=='0'">暂无结果</p>
                    <ul class="dissent-ul"  ng-if="dissentFlag=='1'">
                        <li ng-repeat="dissent in dissentList | filter:{status:1}">
                            <p>{{dissent.time | date : 'yyyy-MM-dd HH:mm:ss'}}</p>
                            <p>
                                <span>公示异议：</span>
                                <span>{{dissent.content}}</span>
                            </p>
                            <p>
                                <span>处理意见：</span>
                                <span>{{dissent.dealOpinion}}</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>